.background_gray {
    position: relative;
    background-color: #f3f3f3;
}

.top_bar_wrapper {
    position: static;
    height: 54.5px;
    top: 0; 
}

.top_bar {
    position:fixed;
    background-color: #8C1515; 
    width:100%;
    z-index:1;
    top: 0;
    padding: 8px 16px
}

.col_button{
    float:left;
    width: 14.285%;
}

.nav_button {
    width:100%;
    border:none;
    display:inline-block;
    padding:8px 16px;
    overflow:hidden;
    text-decoration:none;
    color:#EAEAEA;
    background-color:inherit;
    text-align:center;
    font-size: large;
    cursor:pointer;
    opacity:0.6;
    white-space:nowrap
}

.nav_button:hover {
    opacity:1;
}

.container_gray {
    position: relative;
    color:#000;
    background-color:#f3f3f3;
}

.container_gray:after { 
    content: " "; 
    display: block;
    clear: both;
} 

.container_row {
    position: relative;
    color:#000;
    background-color:#f3f3f3;
    display: flex;
}

.container_row:after { 
    content: " "; 
    display: block;
    clear: both;
} 

.container_white {
    position: fixed;
    width: 100%;
    color:#000;
    background-color:#ffffff; 
    padding-top: 10%;
}

.container_white:after { 
    content: " "; 
    display: block;
    clear: both;
} 
.home_view_L {
    float: left;
    background-color: inherit;
    width: 20%;
    display: table;
    padding: 30px;
    font-size: 1cm;
}

.home_view_M {
    background-color: inherit;
    width: 60%;
    display: table;
    
}

.home_view_R {
    float: right;
    background-color: inherit;
    width: 20%;
    display: table;
}

.title_text {
    margin-top:40px;
    text-align: center;
    font-size: 4em;
    background-color: inherit;
}

.desc_text {
    text-align: right;
    padding-right: 3vh;
    padding-top: 6vh;
    padding-bottom: 1vh;
    color: #818181;
    font-family: monospace;
    font-size:x-large;
    background-color: inherit;
    
}

.desc_button {
    float: right;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #8C1515;
    outline: none;
    color: #fff;
    border: none;
}
  
.desc_button:hover {
    background-color: #6d1010;
    transition: 0.5s;
    
}

.desc_button:active {
    background-color: #6d1010;
    transform: translateY(4px);
}

.divider {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 60%;
    border-top: 1.5px solid #e2e2e2;
    border-radius: 5px;
  }

.header_text {
    margin-top:30px;
    margin-bottom:30px;
    font-size: xx-large;
    text-align: center;
}

.about_text {
    font-size: .5cm;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.table_container {
    margin-left: 20%;
    margin-right: 20%;
}

.img_table {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:flex-start;
    align-content: flex-start;
}

.person {
    width: 140px; 
    margin: 1.3em;
    height: 140px;
    margin-bottom: 70px; 
    text-align: center;
  }

  .person_header {
    position: relative;
    width: 140px;
    font-weight: 700;
    padding: 0;
    font-size: 100%;

  }

  .person_desc {
    position: relative;
    width: 140px;
    padding: 0;
    font-size: 100%;
  }

  .footer {
    margin-top: 50px;
    background-color:  #D5D5D4;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: medium;
  }

  .link {
      color: #43423E;
  }

  .personal_website_icon {
    margin: .2em;
    content:url("icons/link.png");
    height: 1.2em;
  }

  .personal_website_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .github_icon {
    margin: .2em;
    content:url("icons/github.png");
    height:1.2em;
  }

  .github_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .linkedin_icon {
    margin: .2em;
    content:url("icons/linkedin.png");
    height:1.2em;
  }

  .linkedin_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .video_icon {
    margin: .2em;
    content:url("icons/video.png");
    height:1.2em;
  }

  .video_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .download_icon {
    margin: .2em;
    content:url("icons/download.png");
    height:1.2em;
  }

  .download_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .ppt_icon {
    margin: .2em;
    content:url("icons/ppt.png");
    height:1.2em;
  }

  .ppt_icon:hover {
    transform: translateY(-4px);
    transition: 0.2s;
  }

  .publications_list{
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
  }

  .publications_page_list{
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
  }

  .publication {
    color: #8C1515;
    font-weight: bolder;
    display: inline-block
  }

  .press {
      font-size: large;
      margin-left: 20%;
      margin-right: 20%;
  }

  .press_header {
    font-size: larger;
    margin-left: 20%;
    margin-right: 20%;
  }